.bg-img {
  background-image: url("Images/deepseeLogo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
}

.nav-link:hover {
  color: #fff;
}

.bottom {
  background: rgba(114, 194, 203, 1);
  background-size: contain;
}

.logo {
  padding-right: 16px;
}

.nav-link {
  background: linear-gradient(0deg, rgb(5, 79, 97, 1), rgb(5, 79, 97, 1))
    no-repeat left bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
.nav-link:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
}

.underline {
  padding-bottom: 7px;
  --bg-h: 1.5px;
}

i {
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}

.link-style {
  text-decoration: none;
}
