body,
html {
  background: rgba(114, 194, 203, 1);
}

.bg-img {
  background-image: url("images/deepseeLogo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.box {
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
  max-width: inherit;
}

.gap {
  height: 50vw;
  padding: 2rem;
}

.placeholder-white {
  border: 2px solid white;
  border-radius: 0;
}

.placeholder-white::placeholder {
  color: white;
}
