@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body,
html {
  background-color: rgba(115, 194, 201, 255);
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 2;
}

.text-box {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.bg-img {
  background-image: url("images/deepseeLogo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.box {
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
  max-width: inherit;

  background: linear-gradient(
    to bottom,
    rgba(75, 168, 175, 255),
    rgba(111, 190, 197, 0.767)
  );
}

.gap {
  height: 50vw;
  padding: 2rem;
}

.placeholder-white {
  border: 1px solid white;
  border-radius: 0;
}

.placeholder-white::placeholder {
  color: white;
}

.logo {
  font-size: 20px;
}

.link-style {
  text-decoration: none;
}

.btn {
  background-color: rgba(39, 90, 145, 255);
}

.bottom-gradient {
  background: linear-gradient(
    rgba(115, 194, 201, 255),
    rgba(75, 168, 175, 255)
  );
}

.text-background {
  background: linear-gradient(
    rgba(115, 194, 201, 255),
    rgba(75, 168, 175, 255) 30%,
    rgba(115, 194, 201, 255) 100%
  );
}

.middle-gradient {
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.192) 0,
    rgba(115, 194, 201, 255) 65%
  );
}

@media (max-width: 767px) {
  #navbarNav {
    background-color: rgba(255, 255, 255, 0.185);
  }
}
